<div class="container py-5">
  <div class="row justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="zone-card">
        <div class="en-tete">          
          <app-heart></app-heart>
              
            <img
            class="card-img-top"
            src="{{ plant.image }}"
            alt="Card image cap"
          />

        </div>

        <div class="card-body text-center info">
          <div>
            <h5 class="card-title">{{ plant.nom }}</h5>
            <h6>id# {{ plant.id }}</h6>
          </div>

          <div class="card-text">
            <p>Catégorie : {{ plant.categorie }}</p>
          </div>

          <div class="zone-soins">
            <div class="soins">
              <p>Arrosage : </p>
              <app-water [waterValue]="waterValue"></app-water>
            </div>
            <div class="soins">
                 <p>Ensoleillement : </p>
              <app-sun [sunValue]="sunValue"></app-sun>
            </div>
          </div>

        </div>

        <div class="zone-btn">
          <button type="submit" class="btn btn-outline-success" [routerLink]="['/plant/update',plant.id]">Mettre à jour</button>
          <button type="submit" class="btn btn-outline-success" [routerLink]="['/plant/delete',plant.id]">Supprimer</button>
          <button type="submit" class="btn btn-outline-secondary" [routerLink]="['/']">Accueil</button>
        </div>

      </div>
    </div>
  </div>
</div>
