<div class="container mt-3">
  <h1 class="title">🪴 Super Natural Crops and Flowers</h1>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="card" style="width: 40rem">
        <div class="zone-card">
          <form>
            <fieldset>
              <legend>Créer une plante</legend>

              <div class="form-group">
                <label for="nom">Entrez le nom de la plante</label>
                <input
                  #nom
                  type="text"
                  class="form-control"
                  id="nom"
                  placeholder="ex : Cactus"
                  required
                />
              </div>

              <div class="form-group">
                <label for="selectionSoleil">Ensoleillement</label>
                <select #selectionSoleil id="selectionSoleil" class="form-control">
                  <option value="peu">Peu</option>
                  <option value="moyen">Moyen</option>
                  <option value="beaucoup">Beaucoup</option>
                </select>
              </div>

              <div class="form-group">
                <label for="selectionArrosage">Arrosage</label>
                <select #selectionArrosage id="selectionArrosage" class="form-control">
                  <option value="0">Pas d'arrosage</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>

              <div class="form-group">
                <label for="selectionCategorie">Catégorie</label>
                <select #selectionCategorie id="selectionCategorie" class="form-control">
                  <option value="bonsaïs">Bonzaïs</option>
                  <option value="cactus et plantes grasses">Cactus et plantes grasses</option>
                  <option value="orchidés">Orchidés</option>
                  <option value="palmiers d intérieur">Palmiers d'intérieurs</option>
                  <option value="plantes fleuries">Plantes fleuries</option>
                  <option value="plantes vertes">Plantes vertes</option>
                </select>
              </div>

              <div class="form-group">
                <label for="nom">Entrez une image</label>
                <input
                  #image
                  type="text"
                  class="form-control"
                  id="nom"
                  value="https://img.freepik.com/vecteurs-premium/icone-appareil-photo-barre-symbole-photographie-desactive-icone-appareil-photo-barre-dispositif-imagerie-capture-image-inactif-icone-ligne-vectorielle-pour-entreprises-publicite_855332-1934.jpg?w=740"
                  disabled
                />
              </div>
            </fieldset>
            <div *ngIf="!statusCreation"class="zone-btn">
                <button type="button" class="btn btn-outline-success" (click)="createPlant(nom.value, selectionSoleil.value,+selectionArrosage.value,selectionCategorie.value,image.value)" [routerLink]="['/admin/createplant']">Créer</button>
                <button type="button" class="btn btn-outline-secondary" [routerLink]="['/admin/log']">Annuler</button>
            </div>
            <div *ngIf="statusCreation" class="zone-btn">
                <button type="submit" class="btn btn-outline-success" [routerLink]="['/home']">Retourner à l'accueil</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
