<div class="container mt-3">
  <h1 class="title">🪴 Super Natural Crops and Flowers</h1>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="card" style="width: 40rem">
        <div class="zone-card">
            <h4>Etes vous sur(e) de vouloir supprimer cette plante ?</h4>
            <button type="submit" class="btn btn-outline-danger">Oui</button>
            <button type="submit" class="btn btn-outline-secondary">Non</button>
        </div>
      </div>
    </div>
  </div>
</div>