<div class="container mt-3">
  <h1 class="title">🪴 Super Natural Crops and Flowers</h1>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="card" style="width: 40rem">
        <div class="zone-card">
          <form>
            <legend>Inscrivez-vous :</legend>
            <div class="form-group">
              <label for="pseudo">Pseudo</label>
              <input
                #pseudo
                type="text"
                class="form-control"
                id="pseudo"
                placeholder="Votre pseudo"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Adresse Email</label>
              <input
                #email
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="email@email.com"
                required
              />
            </div>
            <div class="form-group">
              <label for="password">Mot de Passe</label>
              <input
                #password
                type="password"
                class="form-control"
                id="password"
                placeholder="Mot de passe"
                required
              />
            </div>
            <div *ngIf="!statusSignUp" class="zone-btn">
              <button
                type="button"
                class="btn btn-outline-success"
                (click)="signUpUser(pseudo.value, email.value, password.value)"
              >
                Inscription
              </button>

              <div class="text-center">
                <p class="zone-signup">
                  Déjà inscrit ?
                  <a href="#!" [routerLink]="['/admin']">Se connecter</a>
                </p>
              </div>
            </div>
            <div *ngIf="statusSignUp" class="zone-btn">
              <button
                type="button"
                class="btn btn-outline-success"
                [routerLink]="['/admin']"
              >
                Se connecter
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
