<div class="container mt-3">
  <h1 class="title">🪴 Super Natural Crops and Flowers</h1>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="card" style="width: 40rem">
        <div class="zone-card">
          <form>
            <fieldset>
              <legend>Mettre à jour la plante</legend>
                <p>Merci de modifier les champs nécessaires</p>
              <div class="form-group">
                <label for="nom">Nom de la plante</label>
                <input
                  #nom
                  type="text"
                  class="form-control"
                  id="nom"
                  value="{{ plant.nom }}"
                />
              </div>

              <div class="form-group">
                <label for="selectionSoleil">Ensoleillement</label>
                <select #selectionSoleil id="selectionSoleil" class="form-control">
                  <option value="{{ plant.soleil }}">{{ plant.soleil }}</option>
                  <option value="peu">peu</option>
                  <option value="moyen">moyen</option>
                  <option value="beaucoup">beaucoup</option>
                </select>
              </div>

              <div class="form-group">
                <label for="selectionArrosage">Arrosage</label>
                <select #selectionArrosage id="selectionArrosage" class="form-control">
                  <option value="{{ plant.arrosage }}">{{ plant.arrosage }}</option>
                  <option value="0">Pas d'arrosage</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>

              <div class="form-group">
                <label for="selectionCategorie">Catégorie</label>
                <select #selectionCategorie id="selectionCategorie" class="form-control">
                    <option value="{{ plant.categorie}}">{{ plant.categorie}}</option>
                  <option value="bonsaïs">bonzaïs</option>
                  <option value="cactus et plantes grasses">
                    cactus et plantes grasses
                  </option>
                  <option value="orchidés">orchidés</option>
                  <option value="palmiers d intérieur">
                    palmiers d'intérieurs
                  </option>
                  <option value="plantes fleuries">plantes fleuries</option>
                  <option value="plantes vertes">plantes vertes</option>
                </select>
              </div>

              <div class="form-group">
                <label for="selectionImage">Image</label>
                <select #selectionImage id="selectionImage" class="form-control">
                  <option value="{{ plant.image }}">{{ plant.image }}</option>
                  <option value="https://img.freepik.com/vecteurs-premium/icone-appareil-photo-barre-symbole-photographie-desactive-icone-appareil-photo-barre-dispositif-imagerie-capture-image-inactif-icone-ligne-vectorielle-pour-entreprises-publicite_855332-1934.jpg?w=740">Pas d'image</option>
                </select>
              </div>
            </fieldset>
            <div class="zone-btn">

            <button type="submit" class="btn btn-outline-danger" (click)="updatePlant(nom.value, selectionSoleil.value,+selectionArrosage.value,selectionCategorie.value,selectionImage.value)">
              Mettre à jour
            </button>
            <button type="submit" class="btn btn-outline-secondary" [routerLink]="['/plant/',plant.id]">
              Annuler
            </button>
            </div>
        
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
